@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.calcBody {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    width:400px;
}

.display {
    background-color: #999;
    padding:10px;
    font-size: 72px;
    font-family: 'VT323', monospace;
    color:#fff;
    text-align: right;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

button {
    width: 100px;
    height: 100px;
    font-size: 36px;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

.add, .subtract, .multiply, .divide {
    background-color: lightgreen;
}

.add:hover, .subtract:hover, .multiply:hover, .divide:hover  {
    background-color: rgb(114, 190, 114);
}

.add:active, .subtract:active, .multiply:active, .divide:active  {
    background-color: rgb(98, 164, 98);
}

.equals {
    background-color: lightcoral;
    width: 100%;
}

.equals:hover  {
    background-color: rgb(220, 115, 115);
}

.equals:active  {
    background-color: rgb(181, 99, 99);
} 

.clear {
    background-color: lightblue;
}

.clear:hover  {
    background-color: rgb(143, 179, 191);
}

.clear:active  {
    background-color: rgb(108, 138, 157);
} 